<html>
  <head>
  </head>

  <body>
    <p>{{title}}</p>
    <!-- Every img src is a GET request to the server -->
    <!--    path here will be /photo/:id -->
    <img src="/photo/{{id}}">
  </body>
</html>
